<div class="empty-message">
  <img src="{{ assetsUrl('assets/emptybox.png') }}" />
  <h3 class="empty-title">Ops! Não há nada aqui ainda!</h3>
  <p class="empty-description">Clique <a class="text-bold text-primary" href="{{ custom_link }}">aqui</a> para começar a adicionar itens.</p>
</div>