<header class="navigation shadow">
  <a href="{{ route('home.index') }}" class="brand">
    @inlineSvg('assets/logo')
  </a>

  <a class="nav-link text-primary" href="{{ route('admin.areas.index') }}">Dashboard</a>
</header>
