{{ script('https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js') }}
<script src="https://unpkg.com/@adonisjs/websocket-client"></script>
<script src="https://unpkg.com/feather-icons"></script>

{{ script('js/master') }}
{{ script('js/react_bundle') }}