{{ script('https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js') }}
<script src="https://unpkg.com/@adonisjs/websocket-client"></script>
<script src="https://unpkg.com/feather-icons"></script>

<script src="https://unpkg.com/react@16.13.1/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16.13.1/umd/react-dom.development.js" crossorigin></script>

{{ script('js/master') }}
{{ script('js/curso') }}