{{ script('https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js') }}
<script src="https://unpkg.com/@adonisjs/websocket-client"></script>
<script src="https://unpkg.com/feather-icons"></script>

<script src="https://unpkg.com/react@16.13.1/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16.13.1/umd/react-dom.development.js" crossorigin></script>

<script src="https://cdn.tiny.cloud/1/hl4vrjm5712bj2ow0vck1jw1tih2dubftxpqorpc4x6wymnj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#descricao-editor'
  });
</script>

{{ script('js/master') }}
{{ script('js/react_bundle') }}