@layout('layouts.admin')

@section('content')
  <section class="container">
    <div id="curso-form" data-edit="true">
      <input type="hidden" value="{{ toJSON(curso) }}">
    </div>
  </section>
@endsection
