.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.current-page {
  padding: 0.5rem 0.8rem;
  background: var(--primary);
  color: #fff !important;
  border-radius: 5px;
  margin: 0 0.5rem;
}

.pagination-link {
  padding: 0.45rem 0.8rem;
  color: var(--primary);
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.pagination-previous::before {
  font-family: "Material Design Icons";
  content: "\f0141";
}

.pagination-next::after {
  font-family: "Material Design Icons";
  content: "\f0142";
}

.pagination-link:hover {
  border: 1px solid #e1e4e8;
}

.disabled {
  color: #6a737d;
}
