/* modelo de tabela */
.table {
  background-color: var(--white);
  border-radius: 10px;
  padding: 1rem;
}

.table table {
  border-spacing: 0;
  width: 100%;
}

.table thead {
  display: none;
  visibility: hidden;
}

.table tbody tr{
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.table tr + tr{
  border-top: 2px solid var(--light);
}

.table tbody tr td + td {
  margin-top: .5rem;
}

.table-title {
  font-weight: 600;
  color: var(--dark);
  font-size: 18px;
}

.table-detail {
  color: #909090;
  font-size: 14px;
}

.table-link a {
  font-weight: bold;
  color: var(--primary);
  display: flex;
  justify-content: flex-end;
}

.table-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.table-links .link.edit {
  color: var(--edit);
}

.table-links .link.delete {
  color: var(--error);
}

.table-links .link:hover {
  opacity: 0.8;
}


@media (min-width: 768px) {
  /* modelo tabela */
  .table table {
    border-collapse: separate;
    border-spacing: 10px;
  }
  .table table thead {
    padding: 1rem;
    visibility: visible;
    display: flex;
  }

  .table-title {
    font-size: 14px;
    color: #909090;
    font-weight: 500;
  }
  .email {
    width: 70% !important;
  }

  .table table th,
  .table table td {
    text-align: center;
    width: 50%;
  }
  
  .table table thead tr {
    display: flex;
    width: 100%;
  }
  
  .table tbody tr{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .table tbody tr td + td {
    margin-top: 0;
  }
  

  .table-link a {
    align-items: center;
    justify-content: center;
  }

  .table-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }

  .table-links .link + .link {
    margin-left: 0.75rem;
  }
}
