@layout('layouts.public')

@section('content')
  <div class="homepage-container">
    <section class="homepage-content">
      <div class="layer"></div>
      <h1 class="homepage-title">Não perca a oportunidade de seguir seus sonhos!</h1>
      <div id="curso-form"></div>
      </div>
    </section>
  </div>
@endsection
