@layout('layouts.admin')

@section('content')
  <div class="container">
    <div class="container-header">
      <h2 class="header-title">Pré-Matriculas</h2>
    </div>
  </div>  

  <ul>
    @each(matricula in matriculas.data)
      <li>{{ matricula.nome }} - <a href="{{ route('admin.matriculas.show', id=matricula.id) }}">ver</a></li>
    @endeach
  </ul>

@endsection