<!DOCTYPE html>
<html lang="pt-br">
  @include('partials.head')
  <body>
    @include('partials.navigation')
    @include('partials.messages')
    <div class="content-wrapper">
      @include('partials.sidebar')
      @!section('content')
    </div>
    @include('partials.scripts')
  </body>
</html>