<!DOCTYPE html>
<html lang="pt-br">
  @include('partials.head')
  <body>
    @loggedIn
      @include('partials.navigation')
    @else
      @include('partials.navigation_public')
    @endloggedIn
    @include('partials.messages')
    @!section('content')
    @include('partials.footer')
    @include('partials.scripts')
  </body>
</html>